In [5]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity as cs
from sklearn.preprocessing import OrdinalEncoder
import numpy as np
import ipywidgets as widgets
from IPython.display import display
import requests
from io import StringIO

def get_data(filename):
    token = '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' 
    owner = 'nuel-emeka'
    repo = 'RECOMMENDER'
    path = 'Data/{}'.format(filename)

    # send a request
    r = requests.get(
        'https://api.github.com/repos/{owner}/{repo}/contents/{path}'.format(
        owner=owner, repo=repo, path=path),
        headers={
            'accept': 'application/vnd.github.v3.raw',
            'authorization': 'token {}'.format(token)
                }
        )

    # convert string to StringIO object
    string_io_obj = StringIO(r.text)

    # Load data to df
    df = pd.read_csv(string_io_obj, sep=",", index_col=0)
    df = df.reset_index()
    return df
    
def yesNo_encode(value):
    if value.lower().strip() == 'yes':
        return 1
    elif value.lower().strip() == 'no':
        return 0
    else:
        return value

In [8]:
def get_ready(data):
    for col in data.iloc[:, 4:].columns:
        data[col] = data[col].apply(yesNo_encode)
    data = pd.get_dummies(data, columns=['geographical coverage'], prefix=['location'])
    data['Premium Tier'] = OrdinalEncoder().fit_transform(data[['Premium Tier']])
    data = data.iloc[:, 3:]
    return data

In [9]:
df = get_ready(get_data('Clean_data.csv'))

,Premium Tier,family Planning,Mental health,Dental care,Telemedicine service,Cash back benefit?,ANC delivery coverage,eye care cost limits,Gym membership,Annual Routine Medical Screening,location_Lagos,location_Nationwide
0,0.0,0,0,1,0,0,0,1,0,0,0,1
1,0.0,0,0,1,0,0,0,0,0,0,0,1
2,1.0,1,0,1,0,0,1,0,0,0,0,1
3,2.0,1,0,1,0,0,1,0,0,1,0,1
4,3.0,1,1,1,0,0,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
143,3.0,1,1,1,0,0,1,1,0,0,0,1
144,3.0,1,1,1,0,0,1,1,0,0,0,1
145,0.0,1,1,1,0,0,1,1,0,1,0,1
146,1.0,1,1,1,0,0,1,1,0,1,0,1
147,2.0,1,1,1,0,0,1,1,0,1,0,1

In [10]:
data = get_data('Clean_data.csv')

,Name,Plan,Premium,Premium Tier,geographical coverage,family Planning,Mental health,Dental care,Telemedicine service,Cash back benefit?,ANC delivery coverage,eye care cost limits,Gym membership,Annual Routine Medical Screening
0,Integrated Health Care Family,Ebony,NaN,Tier 1,Nationwide,No,No,Yes,No,No,No,Yes,No,No
1,Integrated Health Care Family,Pine,NaN,Tier 1,Nationwide,No,No,Yes,No,No,No,No,No,No
2,Integrated Health Care Family,Iroko,NaN,Tier 2,Nationwide,Yes,No,Yes,No,No,Yes,No,No,No
3,Integrated Health Care Family,Teak,NaN,Tier 3,Nationwide,Yes,No,Yes,No,No,Yes,No,No,Yes
4,Integrated Health Care Family,Marble,NaN,Tier 4,Nationwide,Yes,Yes,Yes,No,No,Yes,Yes,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,AXA MANSARD HEALTHCARE LTD,Platinum,303350,Tier 4,Nationwide,Yes,Yes,Yes,No,No,Yes,Yes,No,No
144,AXA MANSARD HEALTHCARE LTD,Platinum Plus,489600,Tier 4,Nationwide,Yes,Yes,Yes,No,No,Yes,Yes,No,No
145,CLEARLINE INTERNATIONAL LIMITED,Superb Health,25000,Tier 1,Nationwide,Yes,Yes,Yes,No,No,Yes,Yes,No,Yes
146,CLEARLINE INTERNATIONAL LIMITED,Silver Plan,50000,Tier 2,Nationwide,Yes,Yes,Yes,No,No,Yes,Yes,No,Yes
147,CLEARLINE INTERNATIONAL LIMITED,Gold Plan,75000,Tier 3,Nationwide,Yes,Yes,Yes,No,No,Yes,Yes,No,Yes

In [18]:
def user_ready(data):
    test = []
    for dt in data:
        if dt.strip() in ['TIER 1', 'NO', 'NATIONWIDE']:
            test.append(0)
        elif dt.strip() in ['TIER 2', 'YES', 'LAGOS']:
            test.append(1)
        elif dt.strip()=='TIER 3':
            test.append(2)
        elif dt.strip()=='TIER 4':
            test.append(3)
    if test[-1]==1:
        test.append(0)
    else:
        test.append(1)

    return test

In [20]:
user_ready(['TIER 1', 'NO', 'NO', 'YES', 'YES', 'NO', 'YES', 'YES', 'YES', 'YES', 'NATIONWIDE'])

[0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1]

In [ ]:
def print_top_3(result):
    top_3 = result
    
    display = ''
    display+'TOP FIVE HMO RECOMMENDED BASED ON YOUR REQUIREMENTS ARE<br>'
    display+'-------------------------------------------------------<br>'
    display+'_______________________________________________________<br>'
    for hmo in top_3:
        display+data.loc[hmo, :]+'<br>'
        display+'------------------------------------------------------- <br>'
        
        
    return display

In [1]:
import flask
import pandas as pd
import sklearn
import numpy as np
import requests
import io

In [3]:
for module in [flask, pd, sklearn, np, requests, io]:
    print(module.__version__)

<module 'flask' from 'C:\\Users\\MISS IJEOMA\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages\\flask\\__init__.py'>  2.0.2
<module 'pandas' from 'C:\\Users\\MISS IJEOMA\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages\\pandas\\__init__.py'>  1.3.4
<module 'sklearn' from 'C:\\Users\\MISS IJEOMA\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages\\sklearn\\__init__.py'>  1.0.1
<module 'numpy' from 'C:\\Users\\MISS IJEOMA\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages\\numpy\\__init__.py'>  1.21.3
<module 'requests' from 'C:\\Users\\MISS IJEOMA\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages\\requests\\__init__.py'>  2.26.0

AttributeError: module 'io' has no attribute '__version__'